@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Quicksand:wght@500;600&display=swap');

:root {
    //Font
    --font: 'IBM Plex Sans', sans-serif;

    // Color
    --primary: #f73ab1;
    --body-color: #202124;
    --dark: #202124;
    --dark-hover: #0f0f14;
    --dark-transparent: #0f0f1439;
    --text: #fff;
    --yellow: #e8eb4f;
    --pink: #f73ab1;
    --shadow: #5a5a5a;
    --light: #cccccc;
    --transparent: #00000000;

    // Layout dimension
    --header-height: 60px;
    --sidebar-width: 80px;
    --display-width: 1150px;

    // %
    --parent-width: 100%;
    --ninety-percent: 90%;
    --eighty-percent: 80%;
    --seventy-percent: 70%;
    --sixty-percent: 60%;
    --fifty-percent: 50%;
    --forty-percent: 40%;
    --thirty-percent: 30%;
    --twenty-percent: 20%;
    --fifteen-percent: 15%;
    --ten-percent: 10%;
    --five-percent: 5%;

    // Header
    --search-width-short: 300px;
    --search-width-medium: 320px;
    --search-width-long: 360px;
    --search-height: 30px;
    // Sidebar
    // Content
}

::selection {
    background-color: var(--primary);
    color: var(--text);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--body-color);
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--text);
    overflow-y: overlay;
}

// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

// html *::-webkit-scrollbar {
//     border-radius: 0;
//     width: 8px;
// }

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--shadow);
}

// html *::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba(22, 24, 35, 0.06);
// }

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// html *::-webkit-scrollbar-track {
//     border-radius: 0;
//     background-color: rgba(0, 0, 0, 0);
// }

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--pink);
    text-decoration: none;
}
