.wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--display-width);
    display: flex;
    margin-top: var(--header-height);
}

.content {
    flex: 1;
}
