.wraper {
    width: 100%;
    height: var(--header-height, 60px);
    box-shadow: 0 1px var(--shadow);
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: var(--dark);
    z-index: 7;
}

.inner {
    height: var(--parent-width);
    width: var(--display-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Logo
.logo {
    // width: var(--thirty-percent);
    background-color: transparent;

    img {
        width: 150px;
        height: 42px;
    }
}

// Action
.action {
    // width: var(--thirty-percent);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .notify-btn {
        font-size: 1.6rem;
        padding: 8px;

        &:hover {
            cursor: pointer;
        }
    }

    .use-avatar {
        width: 28px;
        height: 28px;
        background-color: transparent;
        border-radius: 50px;
        box-shadow: 0 0 3px var(--primary);
        overflow: hidden;
        margin-left: 8px;

        img {
            width: var(--parent-width);
            height: var(--parent-height);
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
