.wraper {
    width: 100%;
    height: var(--header-height, 60px);
    box-shadow: 0 0 8px var(--shadow);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: var(--body-color);
    z-index: 7;
}

.inner {
    height: var(--parent-width);
    width: var(--display-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Logo
.logo-area {
    flex: 1px;
}

.logo {
    width: 150px;
    height: 42px;
    display: flex;
    background-color: transparent;

    img {
        flex: 1;
    }
}

// Action
.action {
    flex: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .notification-btn {
        font-size: 1.6rem;
        padding: 8px;
        color: var(--light);

        &:hover {
            cursor: pointer;
            color: var(--primary);
        }
    }

    .use-avatar {
        width: 34px;
        height: 34px;
        background-color: transparent;
        border-radius: 50px;
        box-shadow: 0 0 3px var(--primary);
        overflow: hidden;
        margin-left: 8px;
        cursor: pointer;

        img {
            width: var(--parent-width);
            height: var(--parent-height);
        }
    }
}

// Notification - RoleUser
.role-user,
.notification-list {
    background-color: var(--body-color);
    box-shadow: 0 0 12px var(--dark-hover);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: fadeIn ease 0.3s forwards;
}

@keyframes fadeIn {
    0% {
        margin-top: -4px;
        opacity: 0;
    }
    100% {
        margin-top: 2px;
        opacity: 1;
    }
}

.notification-list {
    --notification-width: 320px;
    width: var(--notification-width);
    background-color: var(--body-color);
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 20px;

        p {
            font-size: small;
            padding: 8px;
            transition: all ease-in-out 0.2s;

            &:hover {
                cursor: pointer;
                color: var(--primary);
            }
        }
    }

    main {
        height: 280px;
        overflow-y: scroll;
        padding: 0 4px;
        display: flex;
        flex-direction: column;

        // Scrollbar
        &::-webkit-scrollbar {
            border-radius: 0;
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: var(--dark-hover);
        }

        &::-webkit-scrollbar-track {
            border-radius: 0;
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

.role-user {
    --role-user-width: 200px;
    min-width: var(--role-user-width);
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;

    header {
        display: flex;

        .user {
            width: var(--parent-width);
            padding: 16px 20px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            cursor: default;

            .user-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                box-shadow: 0 0 3px var(--primary);
                overflow: hidden;
            }
            .user-body {
                flex: 1;
                height: 36px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 12px;
                color: var(--text);

                h6 {
                    opacity: 0.6;
                }
            }
        }
    }

    main {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 4px;

        .item {
            padding: 8px 16px;
            color: var(--text);
            border-radius: 4px;
            margin: 2px 0;
            transition: all ease-in-out 0.2s;

            &:hover {
                cursor: pointer;
                color: var(--primary);
                background-color: var(--dark-transparent);
            }
        }

        .bulkhead {
            width: var(--parent-width);
            height: 1px;
            margin: 4px 0;
            background-color: var(--dark-transparent);
        }
    }
}
