.wraper {
    flex: 1;
}

// Search
.search {
    position: relative;
    // width: var(--thirty-percent);
    width: var(--parent-width);
    height: var(--search-height);
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 50px;
    box-shadow: 1px 1px var(--shadow);
    transition: all ease-in-out 0.2s;
    // border: 1px solid var(--shadow);

    &::before {
        content: '';
        width: 1.2px;
        height: var(--seventy-percent);
        border-radius: 50px;
        background-color: var(--shadow);
        position: absolute;
        right: var(--fifteen-percent);
    }

    &:focus-within {
        box-shadow: 1px 1px var(--light);

        &::before {
            background-color: var(--light);
        }
    }

    input {
        flex: 1;
        height: var(--parent-width);
        padding-left: 12px;
        background-color: var(--transparent);
        color: var(--text);
    }

    // Bắt sự kiện khi input không show placeholder
    input:not(:placeholder-shown) ~ .search-btn {
        opacity: 1;

        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 0.6;
        }
    }

    .clear-btn,
    .search-btn {
        height: var(--parent-width);
        align-items: center;
        justify-content: center;
        background: var(--transparent);

        &:hover {
            cursor: pointer;
        }
    }

    .clear-btn {
        display: flex;
        width: var(--ten-percent);
        font-size: 1rem;
        color: var(--text);
        opacity: 0.6;

        &:hover {
            opacity: 0.8;
        }
    }

    .search-btn {
        display: flex;
        width: var(--fifteen-percent);
        font-size: 1.25rem;
        color: var(--primary);
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 0.6;
        }
    }
}

.result {
    // width: 320px;
    padding: 4px 4px 0;
    width: var(--search-width-medium);
    background-color: var(--body-color);
    box-shadow: 0 0 12px var(--dark-hover);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: fadeIn ease 0.3s forwards;
}

@keyframes fadeIn {
    0% {
        margin-top: -4px;
        opacity: 0;
    }
    100% {
        margin-top: 4px;
        opacity: 1;
    }
}
